{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/45214079.js"></script>
<!-- End of HubSpot Embed Code -->
<link rel="stylesheet" href="{% static 'css/propiedad.css'%}">


</main>
    <main class="contenedor seccion">
        <h1>Más Sobre Nosotros</h1>

        <div class="iconos-nosotros">
            <div class="icono">
                <img src="{% static 'img/icono1.svg' %}" alt="Icono seguridad" loading="lazy">
                <h3>Seguridad</h3>
                <p>Con mas de 10 años en el ramo de la venta de bienes raices y mas de 500 propiedades vendidas tenemos una trayectoria que nos respalda</p>
            </div>
            <div class="icono">
                <img src="{% static 'img/icono2.svg' %}" alt="Icono Precio" loading="lazy">
                <h3>Precio</h3>
                <p>Precios altamente competitivos en el mercado, nos adaptamos a tu presupuesto al igual que contamos con diversos medios de pago.</p>
            </div>
            <div class="icono">
                <img src="{% static 'img/icono3.svg' %}" alt="Icono Tiempo" loading="lazy">
                <h3>A Tiempo</h3>
                <p>Entregas en tiempos record, obten tu primera propiedad y disfrutala en el menor lapso posible.</p>
            </div>
        </div>
    </main>
    <div id= "banner" class="container_banner" style="
        max-width: 800px;
        margin: 20px auto;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 10px #e08709;
        display: flex; /* Utilizamos Flexbox */
    ">
        <img src="{% static 'img/banner.png' %}" alt="banner" srcset="">
        <a href="/registro/" class="boton-amarillo" style="padding: 1rem 3rem; height: fit-content; top: 279px;
        left: -287px; position: relative;">Registrarme</a>
    </div>

    <section class="contenedor seccion">
        <h2>Casas y Depas en Venta</h2>

         <!--.contenedor-anuncios-->
         <div class="propiedades">
            {% for propiedad in propiedades %}
            <div class="propiedad">
                <img src="{{ propiedad.imagen_principal.url }}" alt="Imagen de la propiedad">
                <p class="descripcion">{{ propiedad.descripcion }}</p>
                <p class="detalles">Precio: ${{ propiedad.precio }} | Área: {{ propiedad.area }} m²</p>
                <a href="{% url 'detalles' propiedad.id %}" class="btn-ver-detalles">Ver Detalles</a>
            </div>
            {% endfor %}
        </div>

        <div class="alinear-derecha">
            <a href="{% url 'anuncios' %}" class="boton-verde">Ver Todas</a>
        </div>
    </section>

    <section class="imagen-contacto">
        <h2>Encuentra la casa de tus sueños</h2>
        <p>Llena el formulario de contacto y un asesor se pondrá en contacto contigo a la brevedad</p>
        <a href="{% url 'contacto' %}" class="boton-amarillo">Contactános</a>
    </section>

    <div class="contenedor seccion seccion-inferior">
        <section class="blog">
            <h3>Nuestro Blog</h3>

            <article class="entrada-blog">
                <div class="imagen">
                    <picture>
                        <source srcset="{% static 'img/blog1.webp' %}" type="image/webp">
                        <source srcset="{% static 'img/blog1.jpg' %}" type="image/jpeg">
                        <img loading="lazy" src="{% static 'img/blog1.jpg' %}" alt="Texto Entrada Blog">
                    </picture>
                </div>

                <div class="texto-entrada">
                    <a href="">
                        <h4>Terraza en el techo de tu casa</h4>
                        <p class="informacion-meta">Escrito el: <span>20/10/2024</span> por: <span>Admin</span> </p>

                        <p>
                            Consejos para construir una terraza en el techo de tu casa con los mejores materiales y ahorrando dinero
                        </p>
                    </a>
                </div>
            </article>

            <article class="entrada-blog">
                <div class="imagen">
                    <picture>
                        <source srcset="{% static 'img/blog2.webp' %}" type="image/webp">
                        <source srcset="{% static 'img/blog2.jpg' %}" type="image/jpeg">
                        <img loading="lazy" src="{% static 'img/blog2.jpg' %}" alt="Texto Entrada Blog">
                    </picture>
                </div>

                <div class="texto-entrada">
                    <a href="">
                        <h4>Guía para la decoración de tu hogar</h4>
                        
                        <p class="informacion-meta">Escrito el: <span>15/09/2024</span> por: <span>Admin</span> </p>
                        <p>
                            Maximiza el espacio en tu hogar con esta guia, aprende a combinar muebles y colores para darle vida a tu espacio
                        </p>
                    </a>
                </div>
            </article>
        </section>

        <section class="testimoniales">
            <h3>Testimoniales</h3>

            <div class="testimonial">
                <blockquote>
                    El personal se comportó de una excelente forma, muy buena atención y la casa que me ofrecieron cumple con todas mis expectativas.
                </blockquote>
                <p>- Juan De la torre</p>
            </div>
        </section>
    </div>
{% endblock %}